{% extends "homebody.html"%}

{% block footer_content %}
<div class="footer_div">
  <div class="footer_icon">
  <a href="https://www.instagram.com/meow_yina/" targhet="_blank" class="instagram_Btn"><i class="fa-brands fa-square-instagram"></i>괭시니 인스타그램</i></a>
  <a href="https://park-yina.github.io/"><i class="fa-brands fa-square-git"></i>TechBlog</a>
  <a href="mailto:kln99988@naver.com"><i class="fa-solid fa-envelope" aria-hidden="true"></i>E-mail</a>
  <hr class="footer_hr">
  </div>
  <a href="https://openapi.nexon.com/" target="_blank" id="go_nexon">넥슨 api센터 바로가기</a>
  <div class="footer_Instruction">
    <span class="Insturction_list">위 사이트는 NexonOpenApi를 기반으로 만들어졌습니다.</span>
  </div>
</div>
{% endblock %}