{% extends "index.html"%}
{% block header_content %}
    <div class="navbar__logo">
        <a href="" class="page_name">심볼 계산기</a>
    </div>
    <ul class="nav_bar_list">
        <li><a href="https://chuchu.gg/" target="_blank" title="츄츄지지 바로가기">츄츄지지</a></li>
        <li><a href="https://maple.gg/" target="_blank" title="메이플 지지">메이플 지지</a></li>
        <li><a href="https://maplescouter.com/" target="_blank" title="환산기">환산 주스텟</a></li>
        <li><a href="https://lastchan.com/v_matrix_calculator" target="_blank" title="코강조합">코강 조합</a></li>
        <li><a href="https://meaegi.com/" target="_blank" title="메애기">스펙 검색기</a></li>
    </ul>
    <a href="#" class="navbar_toggleBtn"><i class="fas fa-bars"></i></a>
{% endblock %}